apiVersion: v1
kind: Service
metadata:
  name: {{ include "opencompat.fullname" . }}-headless
  labels:
    {{- include "opencompat.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "opencompat.selectorLabels" . | nindent 4 }}
